/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #eee;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
  padding: 1rem;
  padding-bottom: 2rem;
}

.App {
  background: white;
}

h1,
h2 {
  margin-bottom: 1.5rem;
}

h3 {
  margin-bottom: 1rem;
}

button {
  border: none;
}

/* Utility */
.border {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

/* Components */
.selectable {
  font-size: 12px;
  background: #eee;
  color: #999;
  background-color: #eee;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.selectable.selected {
  background: rgb(0, 122, 255);
  color: white;
}

.layout main {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 1rem;
  align-items: start;
}

@media screen and (max-width: 600px) {
  .layout main {
    grid-template-columns: 1fr;
  }
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 1rem;
}

.products-sidebar {
}

.line-chart {
}

.inspector {
  display: grid;
  align-content: start;
  gap: 1rem;
}

.inspector > * {
  display: grid;
  gap: 0.5rem;
}

.search-bar {
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: #eee;
  margin-bottom: 1rem;
}
