/* Imports */
@import url("./apple-colors.css");

:root {
  --app-background: #eee;
  --main-background: #fff;
  --paragraph-text-color: #444;
  --paragraph-text-inverted-color: #444;
  --paragraph-text-alt-color: #666;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: var(--app-background);
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
  padding: 1rem;
  padding-bottom: 2rem;
  color: var(--paragraph-text-color);
}

.App {
  background: var(--main-background);
}

/* Typography */
h1,
h2 {
  margin-bottom: 1.5rem;
}

h4 {
  margin-bottom: 0.5rem;
}

p {
  font-size: 12px;
}

button {
  border: none;
}

/* Utility */
.border {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

/* Components */
.selectable {
  font-size: 12px;
  background: var(--app-background);
  color: var(--paragraph-text-alt-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.selectable.selected {
  background: var(--blue);
  color: white;
}

.layout main {
  display: grid;
  /* grid-template-columns: 1fr auto auto; */
  gap: 1rem;
  align-items: start;
  max-width: 30rem;
  min-width: 20rem;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .layout main {
    grid-template-columns: 1fr;
  }
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 1rem;
}

.line-chart {
  overflow: hidden;
}

.inspector {
  display: grid;
  align-content: start;
  gap: 1rem;
  min-width: 17rem;
}

.inspector > * {
  display: grid;
  gap: 0.5rem;
}

.search-bar {
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: #eee;
  margin-bottom: 1rem;
}

.daily-report {
  display: grid;
  gap: 1.5rem;
}

.stats {
  background-color: #eee;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: inline-flex;
}

.stat {
  display: flex;
  justify-content: space-between;
}

.index {
  display: inline-flex;
  font-size: 0.75rem;
  width: 3ch;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
  background: #eee;
}

/* Utility */
.grid {
  display: grid;
  gap: 1rem;
}

.flex {
  display: flex;
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}
